:root {
  --primary: #f2c94c;
  --black: #333333;
  --width-break: 600px;
}
.navigation {
  background-color: var(--primary);
  color: #333333;
  text-align: center;
  display: block;
}
body {
  margin: 0;
  font-family: "Kalam", cursive;
  color: #333333;
}

textarea {
  box-sizing: border-box;
  display: block;
  width: 90%;
  min-height: 20vh;
  margin-top: 2rem;
  font-size: large;
  margin-left: 2rem;
}
button {
  border: none;
  margin: 1rem;
  background-color: var(--primary);
  display: block;
  padding: 1rem 2rem;
  margin: auto;
  margin-top: 1;
  box-sizing: content-box;
  cursor: pointer;
  font-family: "Kalam", cursive;
  font-size: large;
}
div {
  display: block;
}
#output {
  border: 1px solid black;
  height: 10vh;
  width: 80%;
  margin: 1rem;
  padding: 1rem;
}

footer {
  background-color: var(--primary);
  color: #333333;
  text-align: center;
  margin: auto;
}
